
#container{
  pointer-events: none;
}

.gridRow{
  pointer-events: none;
}

.cell {
    pointer-events: all;
    border: 1px solid black;
    min-width: 145px;
    min-height: 145px;
    margin: 1px 2px;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
  }

  .cell:hover{
    border: 1px solid black;
    min-width: 145px;
    min-height: 145px;
    margin: 1px 2px;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
    background: black;
  }

.square{
    background: #1DB954;
    text-align: center;
    pointer-events: none;
    border: 1px solid black;
    min-width: 65px;
    min-height: 130px;
    margin: 7px 2px 2px 3.5px;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.querySquare{
  pointer-events: none;
  border: 1px solid black;
  min-width: 65px;
  min-height: 140px;
  margin: 1px 2px;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

  *{
      margin: 0;
      padding: 0;
      outline: none;
      box-sizing: border-box;
      font-family: Verdana, sans-serif;
  }
  
  body{
      background: black;
      background-size: cover;
      width: 100%;
      height: 100vh;
  }
  
  .wrapper{
      position: fixed;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0,0.6);
      max-width: 750px;
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      border-radius: 5px;
  }
  
  .wrapper .input {
      width: 85%;
      padding: 15px 20px;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 20px;
  }
  
  .searchbtn {
      background: #1DB954;
      width: 10%;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
  }


  .loginbtn {
      margin-top: 40px;
      box-shadow: 0 1px 2px #1DB954, 
              0 1px 2px #1DB954, 
              0 1px 2px #1DB954, 
              0 1px 2px #1DB954,
              0 1px 2px #1DB954, 
              0 1px 2px #1DB954;
      
      top: 20%;
      left: 35%;
      background: #1DB954;
      max-width: 430px;
      max-height: 300px;
      width: 100%;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      border-radius: 5px;
      font-size: 40px;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      text-shadow: 1px 1px 0px black;
      color: rgb(220, 230, 203);
      font-weight: bold;
  }

  #login, #loggedin {
    display: none;
  }
  .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
  }
  
  .searchbtn .fas{
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
  }

  /* side bar */


  *,*:before,*:after {
    box-sizing: border-box;
  }
  
  :after {
    content: "";
  }
  
  section {
    position: fixed;
    left: 100px;
  }
  
  h1 { 
    margin:80px 0 10px 0;
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #DC143C,
    2px 2px 0px #DC143C,
    3px 3px 0px #DC143C,
    4px 4px 0px #DC143C;
  }
  
  h2 {
    font-size: 24px;
  }

  h3 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 70px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 0px black;
    font-weight: bold;
    text-align: center;  
  }
  div.paragraph {
    text-align: center;
  }
  paragraph {
    margin-left: 280px;
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 0px black;
    text-align: center;  
  }

  nav {
    float: left;
    position: fixed;
    top: 20%;
    left: 0;
    background: transparent;
    border-radius: 5px;
  }
  
  nav ul {
    text-align: center;
    border-radius: 5px;
  }
  
  nav ul li {
    border-top: 1px solid #1DB954; 
    border-bottom: 1px solid #1DB954;
    border-right:  1px solid #1DB954;
    position: relative;
    width: 120px;
    height: 120px;
    cursor: pointer;
    background: black;
    text-transform: uppercase;
    transition:all .4s ease-out;
    border-radius: 0px 20px 30px 0px;
    marker: none;
  }
  
  nav ul li:after {
    position: absolute;
    background: white;
    color: black;
    top:0;
    left: 70px;
    /*width: 70px; height: 100%;*/
    width: 120px;
    height: 120px;
    
    opacity:.5;
    transform: perspective(400px) rotateY(90deg);
    transform-origin: 0 100%;
    transition:all .4s ease-out;
  }
  
  nav ul li:nth-child(1):after { 
    content: "Home";
    line-height: 88px;
  }
  nav ul li:nth-child(2):after { 
    content: "About";
    line-height: 88px;
  }
  nav ul li:nth-child(3):after { 
    content: "Work";
    line-height: 85px;
  }
  nav ul li:nth-child(4):after { 
    content: "Say hi";
    line-height: 70px;
  }
  
  nav ul li:hover {
    transform: translateX(-70px);
  }
  
  nav ul li:hover:after {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg) scale(1) ;
  }
  
  
  nav ul li > div {
    display: inline-block;
    padding: 25px 0;
    background: transparent;
  }
  
  nav ul li div { position: relative; }
  
  .roof {
    width: 0;
    height: 0;
    top:2px;
    border-style: solid;
    border-width: 0 21px 15px 21px;
    border-color: transparent transparent #ffffff transparent;
  }
  
  .roof-edge {
    position: absolute;
    z-index: 20;
    left: -17px;
    top: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17px 12px 17px;
    border-color: transparent transparent #1DB954 transparent;
  }
  /*white triangle over red triangle*/
  .roof-edge:after {
    position: absolute;
    left: -14.5px;
    top: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14.5px 10px 14.5px;
    border-color: transparent transparent white transparent;
  }
  
  .front {
    position: relative;
    top: 3px;
    width: 28.5px;
    height: 20px;
    margin: 0 auto;
    background: white;
  }
  /*door*/
  .front:after {
    position: absolute;
    background: #1DB954;
    width: 11px;
    height: 13px;
    bottom: 0;
    left:9px;
  }
  
  /*/// About me ////*/
  
  .head {
    width: 32px;
    height: 35px;
    background: white;
    border-radius:8px;
  }
  /*mouth*/
  .head:after {
    width: 4px;
    height: 10px;
    background: white;
    position: absolute;
    border-radius:4px 0 0 4px;
    top:21px;
    left: 14px;
    transform:rotate(270deg);
  }
  
  .eyes {
    width: 8px;
    height: 5px;
    
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 5px;
    background: #1DB954;
  }
  /*right eye*/
  .eyes:after {
    width: 8px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 14px;
    background: #1DB954;
  }
  
  .beard {
    width: 32px;
    height: 17px;
    background: #1DB954;
    border:2px solid white;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius:0 0 8px 8px;
  }
  /*nose*/
  .beard:after {
    position: absolute;
    top:-2px;
    left: 11px;
    background: white;
    width:6px;
    height: 4px;
    border-left:1px solid #1DB954;
    border-right:1px solid #1DB954;
  }
  
  /*//work//*/
  
  .paper {
    position: relative;
    height:32px;
    width: 29px;
    background: white;
    border:2px solid white;
  }
  
  /*window*/
  .paper:after {
    position: absolute;
    top:1px;
    left: 0;
    width: 25px;
    height: 29px;
    background: white;
    border-top:4px solid #1DB954;
  }
  
  .lines {
    position: absolute;
    top: 36px;
    left: 5px;
    width: 11px;
    box-shadow: 0 0 0 1px #1DB954;
  }
  
  .lines:after {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 14px;
    box-shadow: 0 0 0 1px #1DB954;
  }
  
  .lines:nth-child(2) {
    position: absolute;
    top: 44px;
    left: 8px;
    width: 11px;
  }
  
  .lines:nth-child(2):after {
    position: absolute;
    top: 4px;
    left: -3px;
    width: 11px;
  }
  
  .lines:nth-child(3) {
    position: absolute;
    top: 52px;
    left: 8px;
    width: 14px;
  }
  
  .lines:nth-child(3):after {
    display: none;
  }
  
  /*//mail //*/
  
  .mail-base {
    position: relative;
    width: 32px;
    height: 18px;
    background: white;
  }
  
  .mail-top {
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    transform: rotate(180deg);
    border-style: solid;
    border-width: 0 16px 11px 16px;
    border-color: transparent transparent #1DB954 transparent;
  }
  
  .mail-top:after {
    position: absolute;
    z-index: 20;
    left: -16px;
    top: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 9px 16px;
    border-color: transparent transparent white transparent;
  }


  .circles {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 5px;
    background: #1DB954;
  }

  .circles:after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 14px;
    background: #1DB954;
  }
  
  